*.log
notes/


# cache
__pycache__/



# temp file 
models_audio/
results_audio/
runs/



# explore data property
ExploreData/
explore_data/
Results/
deprecated/


# visualization file 
runs/
profile.svg
*.h5

# bash file
*.sh
parameters.py


# 
*.pkl
*.txt
conformer.py
README111.md
resnet_conformer.py
run.py
test_cstformer.py
test_train_models.py


#MacOs configuration
.DS_Store
